.App {
  height: 100%;
  display: flex;
  color: black;
}

.Big__Title{
  height:100%;
  width:100%;
  color: black;
  text-align:center;
  margin-bottom: 10px;
  font-size: 40px;
  font-family:'Aladin';
}

.FormField__Bottom {
  display: block;
  font-size: .9em;
  color: #afacab;
  clear:both;
  margin-bottom:8px;
}

.Gap {
  margin-bottom: 10px
}

.Button__Gap{
  margin-top: 15px;
}

.Store__Name{
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 30px;
}

.Image{
  width: 170px;
  height: 250px;
  float: left;
  margin-right:20px;
  margin-bottom: 15px;
}

.Data{
  margin-bottom:5px;
  color:black;
}

.App__Aside {
  position: relative;
  width: 100%;
  height:7%;
  background-color: black;
}

.App__Form {
  position:absolute;
  left: 65%;
  bottom:7%;
  width: 25%;
  background-color: white;
  padding: 25px 20px;
  overflow: auto;
  display: inline-block;
}

.App__Menu {
  width: 20%;
  background-color: #F5160F;
}

.App__Aside {
  position:absolute;
  width: 100%;
  height:100%;
  background-color: black;
  overflow:hidden;
}

.Menu__Title{
  left:17%;
  position:absolute;
  width:65%;
  height:30%;
  color: white;
  text-align:left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:20px;
  font-family:'Aladin';
  background-color:black;
  top:2%;
  font-size:40px;
}

.App__FormTop{
  position:absolute;
  height:30%;
  overflow:auto;
  width: 65%;
  background-color: white;
  padding: 25px 20px;
  left:17%;
  top: 15%;
}

.App__FormBottom{
  position:absolute;
  height:60%;
  overflow-x:auto;
  width: 65%;
  background-color: white;
  padding: 25px 20px;
  left:17%;
  top: 37%;
}


.FormCenter {
  margin-bottom: 5px;
}

.FormTitle {
  color: #d80f08;
  font-weight: 300;
  margin-bottom: 20px;
}

.FormTitle__Link {
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin-right: 40px;
  padding-bottom: 5px;
  clear:left;
  font-weight:bold;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: #d80f08;
  border-bottom: 4px solid #d80f08;
  margin-right:40px;
}

.FormField {
  margin-bottom: 30px;
}

.FormFieldMin{
  margin-bottom: 25px;
}

.FormField__Label {
  display: block;
  font-size: .9em;
  color: #afacab;
  clear:both;
}

.FormField__LabelMenu {
  display: block;
  font-size: .9em;
  color: black;
  clear:both;
}

.FormField__Input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #afacab;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__InputMin {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #afacab;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #F5160F;
  color: white;
  border: none;
  outline: none;
  width:100%;
  border-radius: 5px;
  padding: 13px 120px;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
}

.FormField__ButtonBottom {
  background-color: white;
  color: #F5160F;
  border-color: #F5160F;
  border-width:1px;
  width:100%;
  border-radius: 5px;
  padding: 13px 120px;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  white-space:nowrap;
}